openapi: 3.1.1
info:
  title: API register API v1
  version: 1.0.0
  contact:
    email: developer.overheid@geonovum.nl
    name: Team developer.overheid.nl
    url: https://github.com/developer-overheid-nl/don-api-register/issues
  description: |
    API to access the API register of developer.overheid.nl.

    ## Authentication and authorization

    This API distinguishes between public and private endpoints.
    Public endpoints can be accessed with either an API key or a client credentials token.
    Private endpoints can only be accessed with a client credentials token.

    ### API key
    
    Using an API key, you can access all public endpoints of the API register.
    These requests can also be made from the browser.
    Simply pass the obtained API key with each request using the `X-Api-Key` header.

    ### Client credentials token

    Using a client credentials token, you can access both public and private endpoints of the API register.
    To obtain the token, you need to perform a `POST` request to `https://auth.developer.overheid.nl/realms/don/protocol/openid-connect/token` with the following Form URL Encoded body:
    - `grant_type`: `client_credentials`
    - `scope`: depending on the access you need and the client you are, you can request one or more of the following scopes:
      - `apis:read`
      - `apis:write`
      - `organisations:read`
      - `organisations:write`
    - `client_id`: the client id you received from us
    - `client_secret`: the client secret you received from us
    
    Pass the obtained token with each request using the `Authorization` header. Example:

    `Authorization`: `Bearer {ACCESS_TOKEN}` (replace `{ACCESS_TOKEN}` with the obtained `access_token`)

    ## Pagination

    Pagination of collections is done using the `Link` header.
    There are various libraries available (such as [parse-link-header](https://www.npmjs.com/package/parse-link-header) for Javascript) that can parse this header.
    Additionally, the following headers provide extra support for implementing pagination in the client:
    - `Current-Page`: the current page in the collection
    - `Per-Page`: the number of items per page
    - `Total-Count`: the total number of items
    - `Total-Pages`: the total number of pages
servers:
  - description: Production
    url: https://api.developer.overheid.nl/api-register/v1
  - description: Test
    url: https://api-register.don.apps.digilab.network/api-register/v1
tags:
  - name: APIs
    description: Endpoints for listing and managing APIs.
  - name: Organisations
    description: Endpoints for listing and managing organisations.
  - name: Public endpoints
    description: Public endpoints, accessible with an API key or client credentials token.
  - name: Private endpoints
    description: Private endpoints of the API register, accessible with a client credentials token.
paths:
  /apis:
    get:
      security:
        - apiKey: []
        - clientCredentials:
            - apis:read
      tags:
        - Public endpoints
        - APIs
      summary: Alle API's ophalen
      description: Alle API's ophalen
      operationId: listApis
      parameters:
        - $ref: "./components/parameters.yaml#/page"
        - $ref: "./components/parameters.yaml#/perPage"
        - $ref: "./components/parameters.yaml#/organisation"
        - name: ids
          in: query
          required: false
          description: Kommagescheiden lijst met API-id's.
          schema:
            type: string
            example: >-
              9fd3f7b1-7d79-4f41-bf8f-4a1b0a3b0d11,7cfdde0b-5a0d-41a4-a2f8-c2a4cb1b158a
      responses:
        "400":
          $ref: "./components/responses.yaml#/400"
        "200":
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
            Link:
              $ref: "./components/headers.yaml#/Link"
            Total-Count:
              $ref: "./components/headers.yaml#/Total-Count"
            Current-Page:
              $ref: "./components/headers.yaml#/Current-Page"
            Per-Page:
              $ref: "./components/headers.yaml#/Per-Page"
            Total-Pages:
              $ref: "./components/headers.yaml#/Total-Pages"
          description: OK
          content:
            application/json:
              schema:
                $ref: "./schemas/ApiSummary.schema.json"
    post:
      security:
        - clientCredentials:
            - apis:write
      tags:
        - Private endpoints
        - APIs
      summary: Registreer een nieuwe API
      description: Registreer een nieuwe API
      operationId: createApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./schemas/ApiInput.schema.json"
      responses:
        "400":
          $ref: "./components/responses.yaml#/400"
        "201":
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
          description: Created
          content:
            application/json:
              schema:
                $ref: "./schemas/Api.schema.json"
  /apis/_search:
    get:
      tags:
      - Public endpoints
      - APIs
      summary: Search apis
      description: Returns a list of repositories matching the search query.
      operationId: searchApis
      parameters:
        - $ref: './components/parameters.yaml#/page'
        - $ref: './components/parameters.yaml#/perPage'
        - $ref: './components/parameters.yaml#/organisation'
        - $ref: './components/parameters.yaml#/q'
      responses:
        '400':
          $ref: "./components/responses.yaml#/400"
        '200':
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
            Link:
              $ref: "./components/headers.yaml#/Link"
            Total-Count:
              $ref: "./components/headers.yaml#/Total-Count"
            Current-Page:
              $ref: "./components/headers.yaml#/Current-Page"
            Per-Page:
              $ref: "./components/headers.yaml#/Per-Page"
            Total-Pages:
              $ref: "./components/headers.yaml#/Total-Pages"
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "./schemas/ApiSummary.schema.json"
  "/apis/{id}":
    parameters:
      - $ref: "./components/parameters.yaml#/id"
    get:
      security:
        - apiKey: []
        - clientCredentials:
            - apis:read
      tags:
        - Public endpoints
        - APIs
      summary: Specifieke API ophalen
      description: Specifieke API ophalen
      operationId: retreiveApi
      responses:
        "200":
          description: OK
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
          content:
            application/json:
              schema:
                $ref: "./schemas/Api.schema.json"
        "404":
          $ref: "./components/responses.yaml#/404"
    put:
      security:
        - clientCredentials:
            - apis:write
      tags:
        - Private endpoints
        - APIs
      summary: Specifieke API updaten
      description: Specifieke API updaten
      operationId: updateApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./schemas/ApiInput.schema.json"
      responses:
        "200":
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
          description: OK
          content:
            application/json:
              schema:
                $ref: "./schemas/Api.schema.json"
        "400":
          $ref: "./components/responses.yaml#/400"
        "404":
          $ref: "./components/responses.yaml#/404"
  /organisations:
    get:
      security:
        - apiKey: []
        - clientCredentials:
            - organisations:read
      tags:
        - Public endpoints
        - Organisations
      summary: Alle organisaties ophalen
      description: Alle organisaties ophalen
      operationId: listOrganisations
      responses:
        "200":
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "./schemas/OrganisationSummary.schema.json"
    post:
      security:
        - apiKey: []
        - clientCredentials:
            - organisations:write
      tags:
        - Private endpoints
        - Organisations
      summary: Organisatie aanmaken
      description: Maak een nieuwe organisatie aan.
      operationId: createOrganisation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./schemas/OrganisationSummary.schema.json"
      responses:
        "400":
          $ref: "./components/responses.yaml#/400"
        "201":
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
          description: Created
          content:
            application/json:
              schema:
                $ref: "./schemas/Organisation.schema.json"
components:
  securitySchemes:
    apiKey:
      $ref: "./components/securitySchemes.yaml#/apiKey"
    clientCredentials:
      $ref: "./components/securitySchemes.yaml#/clientCredentials"
security:
  - clientCredentials: []
