openapi: 3.1.1
info:
  contact:
    email: developer.overheid@geonovum.nl
    name: Team developer.overheid.nl
    url: https://github.com/developer-overheid-nl/don-api-register/issues
  description: API van het API-register (apis.developer.overheid.nl)
  title: API-register API v1
  version: 1.0.0
servers:
- description: Production
  url: https://api.developer.overheid.nl/api-register/v1
- description: Test
  url: https://api-register.don.apps.digilab.network/api-register/v1
tags:
- name: APIs
  description: Alle API operaties die bij beers horen.
paths:
  /apis:
    get:
      operationId: listApis
      description: Lijst van alle geregistreerde APIs
      tags:
      - APIs
      parameters:
        - $ref: './parameters.yaml#/page'
        - $ref: './parameters.yaml#/perPage'
        - $ref: './parameters.yaml#/organisation'
        - name: ids
          in: query
          required: false
          description: Kommagescheiden lijst met API-id's.
          schema:
            type: string
            example: >-
              9fd3f7b1-7d79-4f41-bf8f-4a1b0a3b0d11,7cfdde0b-5a0d-41a4-a2f8-c2a4cb1b158a
      responses:
        '400':
          "$ref": "./responses.yaml#/400"
        '200':
          headers:
            API-Version:
              "$ref": "./headers.yaml#/API-Version"
            Link:
              "$ref": "./headers.yaml#/Link"
            Total-Count:
              "$ref": "./headers.yaml#/Total-Count"
            Current-Page:
              "$ref": "./headers.yaml#/Current-Page"
            Per-Page:
              "$ref": "./headers.yaml#/Per-Page"
            Total-Pages:
              "$ref": "./headers.yaml#/Total-Pages"
          description: OK
          content:
            application/json:
              schema:
                "$ref": "./schemas/Api.schema.json"
    post:
      operationId: createApi
      description: Create API
      tags:
      - APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./schemas/ApiInput.schema.json"
      responses:
        '400':
          "$ref": "./responses.yaml#/400"
        '201':
          headers:
            API-Version:
              "$ref": "./headers.yaml#/API-Version"
          description: Created
          content:
            application/json:
              schema:
                "$ref": "./schemas/Api.schema.json"
  
  /organisations:
    get:
      operationId: listOrganisations
      description: Lijst van alle publishers
      tags:
      - APIs
      responses:
        '400':
          "$ref": "./responses.yaml#/400"
        '200':
          headers:
            API-Version:
              "$ref": "./headers.yaml#/API-Version"
          description: OK
          content:
            application/json:
              schema:
                "$ref": "./schemas/Organisation.schema.json"
    post:
      operationId: createOrganisation
      description: Create Organisation
      tags:
      - APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./schemas/OrganisationSummary.schema.json"
      responses:
        '400':
          "$ref": "./responses.yaml#/400"
        '201':
          headers:
            API-Version:
              "$ref": "./headers.yaml#/API-Version"
          description: Created
          content:
            application/json:
              schema:
                "$ref": "./schemas/Api.schema.json"
  