openapi: 3.1.1
info:
  contact:
    email: developer.overheid@geonovum.nl
    name: Team developer.overheid.nl
    url: https://github.com/developer-overheid-nl/don-oss-register/issues
  description: API van het OSS-register (oss.developer.overheid.nl)
  title: OSS-register API v1
  version: 1.0.0
servers:
- description: Production
  url: https://api.developer.overheid.nl/oss-register/v1
- description: Test
  url: https://api-register.don.apps.digilab.network/oss-register/v1
tags:
- name: Beers
  description: Alle API operaties die bij beers horen.
paths:
  /repositories:
    get:
      operationId: listRepositories
      description: Generate markdown from Arazzo
      summary: List repositories
      tags:
      - Beers
      parameters:
        - $ref: '#/components/parameters/page'
        - name: perPage
          in: query
          required: false
          description: Aantal resultaten per pagina.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: organisation
          in: query
          required: false
          description: Filter op organisatie (bijvoorbeeld de organisation URI).
          schema:
            type: string
        - name: ids
          in: query
          required: false
          description: Kommagescheiden lijst met repository-id's (uuid).
          schema:
            type: string
            example: >-
              9fd3f7b1-7d79-4f41-bf8f-4a1b0a3b0d11,7cfdde0b-5a0d-41a4-a2f8-c2a4cb1b158a
      responses:
        '400':
          "$ref": "./responses.yaml#/400"
        '200':
          headers:
            API-Version:
              "$ref": "./headers.yaml#/API-Version"
            Link:
              "$ref": "./headers.yaml#/Link"
            Total-Count:
              "$ref": "./headers.yaml#/Total-Count"
            Current-Page:
              "$ref": "./headers.yaml#/Current-Page"
            Per-Page:
              "$ref": "./headers.yaml#/Per-Page"
            Total-Pages:
              "$ref": "./headers.yaml#/Total-Pages"
          description: OK
          content:
            application/json:
              schema:
                "$ref": "./schemas/Repository.schema.json"
components:
  parameters:
    page:
      name: page
      in: query
      required: false
      description: Paginanummer (1-based).
      schema:
        type: integer
        minimum: 1
        default: 1