openapi: 3.1.1
info:
  contact:
    email: developer.overheid@geonovum.nl
    name: Team developer.overheid.nl
    url: https://github.com/developer-overheid-nl/don-oss-register/issues
  description: API van het OSS-register (oss.developer.overheid.nl)
  title: OSS-register API v1
  version: 1.0.0
servers:
- description: Production
  url: https://api.developer.overheid.nl/oss-register/v1
- description: Test
  url: https://api-register.don.apps.digilab.network/oss-register/v1
tags:
- name: Repositories
  description: Endpoints for listing and managing OSS repositories.
paths:
  /repositories:
    get:
      tags:
      - Public endpoints
      summary: List repositories
      description: Geeft een lijst terug met OSS repositories die in het register
        zijn opgenomen.
      operationId: listRepositories
      parameters:
        - $ref: './components/parameters.yaml#/page'
        - $ref: './components/parameters.yaml#/perPage'
        - $ref: './components/parameters.yaml#/organisation'
        - name: ids
          in: query
          required: false
          description: Kommagescheiden lijst met repository-id's (uuid).
          schema:
            type: string
            example: >-
              9fd3f7b1-7d79-4f41-bf8f-4a1b0a3b0d11,7cfdde0b-5a0d-41a4-a2f8-c2a4cb1b158a
      responses:
        '400':
          $ref: "./components/responses.yaml#/400"
        '200':
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
            Link:
              $ref: "./components/headers.yaml#/Link"
            Total-Count:
              $ref: "./components/headers.yaml#/Total-Count"
            Current-Page:
              $ref: "./components/headers.yaml#/Current-Page"
            Per-Page:
              $ref: "./components/headers.yaml#/Per-Page"
            Total-Pages:
              $ref: "./components/headers.yaml#/Total-Pages"
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "./schemas/Repository.schema.json"
    post:
      tags:
      - Repositories
      summary: Create repository
      description: Registreer een nieuwe OSS repository in het register.
      operationId: createRepository
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/RepositoryInput.schema.json"
      responses:
        '201':
          description: Created
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
          content:
            application/json:
              schema:
                $ref: "./schemas/Repository.schema.json"
        '400':
          $ref: "./components/responses.yaml#/400"
      security:
      - clientCredentials:
        - repositories:write
  "/repositories/{id}":
    parameters:
    - $ref: './components/parameters.yaml#/id'
    get:
      security:
      - apiKey: []
      - clientCredentials:
        - repositories:read
      tags:
      - Repositories
      summary: Get repository by id
      description: Geeft één OSS repository terug op basis van het id.
      operationId: getRepositoryById
      responses:
        '200':
          description: OK
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
          content:
            application/json:
              schema:
                $ref: "./schemas/Repository.schema.json"
        '404':
          $ref: "./components/responses.yaml#/404"
    put:
      security:
      - clientCredentials:
        - repositories:write
      tags:
      - Repositories
      summary: Specifieke repository updaten
      description: Specifieke repository updaten
      operationId: updateRepository
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./schemas/RepositoryInput.schema.json"
      responses:
        '200':
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
          description: OK
          content:
            application/json:
              schema:
                $ref: "./schemas/Repository.schema.json"
        '400':
          $ref: "./components/responses.yaml#/400"
        '404':
          $ref: "./components/responses.yaml#/404"
  /organisations:
    get:
      security:
      - apiKey: []
      - clientCredentials:
        - organisations:read
      tags:
      - Publieke endpoints
      summary: Alle organisaties ophalen
      description: Alle organisaties ophalen
      operationId: listOrganisations
      responses:
        '200':
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
          description: OK
          content:
            application/json:
              schema:
                $ref: "./schemas/Organisation.schema.json"
    post:
      security:
      - apiKey: []
      - clientCredentials:
        - organisations:write
      tags:
      - Private endpoints
      summary: Organisatie aanmaken
      description: Maak een nieuwe organisatie aan.
      operationId: createOrganisation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./schemas/OrganisationSummary.schema.json"
      responses:
        '400':
          $ref: "./components/responses.yaml#/400"
        '201':
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
          description: Created
          content:
            application/json:
              schema:
                $ref: "./schemas/Organisation.schema.json"
components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-Api-Key
      in: header
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            apis:read: Leestoegang op API's
            apis:write: Schrijftoegang op API's
            organisations:read: Leestoegang op organisaties
            organisations:write: Schrijftoegang op organisaties
            tools: Toegang tot tools
            repositories:read: Leestoegang op repositories
            repositories:write: Schrijftoegang op repositories
            gitOrganisations:read: Leestoegang op git organisaties
            gitOrganisations:write: Schrijftoegang op git organisaties
          tokenUrl: https://auth.developer.overheid.nl/realms/don/protocol/openid-connect/token
security:
- clientCredentials: []
tags:
- name: Publieke endpoints
  description: Publieke endpoints van het API-register, te benaderen met een API-key
    of client credentials token.
- name: Private endpoints
  description: Private endpoints van het API-register, te benaderen met een client
    credentials token.
