openapi: 3.1.1
info:
  contact:
    email: developer.overheid@geonovum.nl
    name: Team developer.overheid.nl
    url: https://github.com/developer-overheid-nl/don-oss-register/issues
  description: API van het OSS-register (oss.developer.overheid.nl)
  title: OSS-register API v1
  version: 1.0.0
servers:
- description: Production
  url: https://api.developer.overheid.nl/oss-register/v1
- description: Test
  url: https://api-register.don.apps.digilab.network/oss-register/v1
tags:
- name: Beers
  description: Alle API operaties die bij beers horen.
paths:
  /repositories:
    get:
      operationId: listRepositories
      description: Generate markdown from Arazzo
      summary: List repositories
      tags:
      - Beers
      parameters:
        - $ref: './components/parameters.yaml#/page'
        - $ref: './components/parameters.yaml#/perPage'
        - $ref: './components/parameters.yaml#/organisation'
        - name: ids
          in: query
          required: false
          description: Kommagescheiden lijst met repository-id's (uuid).
          schema:
            type: string
            example: >-
              9fd3f7b1-7d79-4f41-bf8f-4a1b0a3b0d11,7cfdde0b-5a0d-41a4-a2f8-c2a4cb1b158a
      responses:
        '400':
          "$ref": "./components/responses.yaml#/400"
        '200':
          headers:
            API-Version:
              "$ref": "./components/headers.yaml#/API-Version"
            Link:
              "$ref": "./components/headers.yaml#/Link"
            Total-Count:
              "$ref": "./components/headers.yaml#/Total-Count"
            Current-Page:
              "$ref": "./components/headers.yaml#/Current-Page"
            Per-Page:
              "$ref": "./components/headers.yaml#/Per-Page"
            Total-Pages:
              "$ref": "./components/headers.yaml#/Total-Pages"
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "./schemas/Repository.schema.json"
components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-Api-Key
      in: header
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            apis:read: Leestoegang op API's
            apis:write: Schrijftoegang op API's
            organisations:read: Leestoegang op organisaties
          tokenUrl: https://auth.developer.overheid.nl/realms/don/protocol/openid-connect/token
security:
- clientCredentials: []
tags:
- name: Publieke endpoints
  description: Publieke endpoints van het API-register, te benaderen met een API-key
    of client credentials token.
- name: Private endpoints
  description: Private endpoints van het API-register, te benaderen met een client
    credentials token.
