openapi: 3.1.1
info:
  title: Tools API v1
  version: 1.0.0
  contact:
    email: developer.overheid@geonovum.nl
    name: Team developer.overheid.nl
    url: https://github.com/developer-overheid-nl/don-tools-api/issues
  description: Convenient tools for working with the OpenAPI Specification, Arazzo, Publiccode.yaml and more.
servers:
- description: Production
  url: https://api.developer.overheid.nl/tools/v1
- description: Test
  url: https://api-register.don.apps.digilab.network/tools/v1
tags:
- name: Auth
  description: Endpoints for authentication and authorization.
- name: APIs
  description: API tools.
- name: OSS
  description: OSS tools.
paths:
  /arazzo/markdown:
    post:
      operationId: arazzoMarkdown
      description: Generate markdown from Arazzo
      summary: Generate markdown from Arazzo
      tags:
      - APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./schemas/ArazzoInput.schema.json"
      responses:
        '400':
          $ref: "./components/responses.yaml#/400"
        '200':
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
          description: OK
          content:
            application/json:
              schema:
                $ref: "./schemas/Api.schema.json"
  /arazzo/mermaid:
    post:
      operationId: arazzoMermaid
      description: Generate mermaid diagram from Arazzo
      summary: Generate mermaid diagram from Arazzo
      tags:
      - APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./schemas/ArazzoInput.schema.json"
      responses:
        '400':
          $ref: "./components/responses.yaml#/400"
        '200':
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
          description: OK
          content:
            application/json:
              schema:
                $ref: "./schemas/Api.schema.json"
  /auth/api-keys:
    post:
      operationId: authApiKeys
      description: Generate API key for client
      summary: Generate API key for client
      tags:
      - Auth
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: Email address of the client
              required:
              - email
      responses:
        '400':
          $ref: "./components/responses.yaml#/400"
        '200':
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
          description: OK
          content:
            application/json:
              schema:
                $ref: "./schemas/Api.schema.json"
  /oas/convert:
    post:
      operationId: convertOas
      description: Convert OAS version to another OAS version
      summary: Convert OAS version to another OAS version
      tags:
      - APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./schemas/OasInput.schema.json"
      responses:
        '400':
          $ref: "./components/responses.yaml#/400"
        '200':
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
          description: OK
          content:
            application/json:
              schema:
                $ref: "./schemas/Api.schema.json"
  /oas/bundle:
    post:
      operationId: bundleOas
      description: Bundle OAS files into a single file
      summary: Bundle OAS files into a single file
      tags:
      - APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./schemas/OasInput.schema.json"
      responses:
        '400':
          $ref: "./components/responses.yaml#/400"
        '200':
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
          description: OK
          content:
            application/json:
              schema:
                $ref: "./schemas/Api.schema.json"
  /oas/validate:
    post:
      operationId: validateOas
      description: Validate OAS file
      summary: Validate OAS file
      tags:
      - APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./schemas/OasInput.schema.json"
      responses:
        '400':
          $ref: "./components/responses.yaml#/400"
        '200':
          headers:
            API-Version:
              $ref: "./components/headers.yaml#/API-Version"
          description: OK
          content:
            application/json:
              schema:
                $ref: "./schemas/Api.schema.json"
  /oas/postman:
    post:
      operationId: postmanOas
      description: Convert OAS file to Postman collection
      summary: Convert OAS file to Postman collection
      tags:
      - APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./schemas/OasInput.schema.json"
      responses:
        '400':
          $ref: "./components/responses.yaml#/400"
        '200':
          headers:
            API-Version:
              $ref: ./components/headers.yaml#/API-Version
          description: OK
          content:
            application/json:
              schema:
                $ref: "./schemas/Api.schema.json"
components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-Api-Key
      in: header
security:
- apiKey: []
